@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Tailwind Blue-500 */
  --color-secondary: #f43f5e; /* Tailwind Rose-500 */
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
